<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b00b46f842.js" crossorigin="anonymous"></script>
    <title>SMART ORDER</title>
</head>

<header class="header">
    <div class="header-title">
        SMART ORDER <i class="fas fa-oil-can"></i>
    </div>


    <div class="header-text-mobile">
        ¡Optimizá tu pedido! <br>
    </div>

    <div class="header-text-desktop">
        Entregas más rápidas y con menos emisiones <br>
        Pequeños cambios de gran impacto
    </div>




</header>

<body>
    <section>
        <div>
            <form action="/?_method=PUT" method="POST">

                <div class="productList">
                    <div class="productFamily">
                        <h3>PLUS-50 II</h3>

                        <!--PLUS 50 CAJA-->
                        <div class="product">
                            <label for='plus50CJ' class="label"><%= products[0].JDcode %> -
                                <%= products[0].pack %></label>
                            <input type="number" name='plus50CJ' id='plus50CJ'
                                class="form-control<%= locals.errors && errors.plus50CJ ? '-is-invalid' : null %> "
                                value="<%= oldData.plus50CJ ? oldData.plus50CJ : 0 %>" style="font-size:1em;">

                            <% if (locals.errors && errors.plus50CJ) { %>
                            <div class="text-danger">
                                <%= errors.plus50CJ.msg %>
                            </div>
                            <% } %>

                            <% if (oldData && oldData.plus50CJ && !errors.plus50CJ && (oldData.plus50CJ != 0)) { %>

                            <% if ( (oldData.plus50CJ % 48) == 0 ) { %>
                            <div class="text-ok">
                                ¡Optimizado! Pallet completo x<%=oldData.plus50CJ/48%>
                            </div>
                            <% } else if (  ((oldData.plus50CJ % 12) == 0)  ){ %>
                            <div class="text-ok">
                                ¡Piso completo! x<%=oldData.plus50CJ/12%>
                            </div>
                            <div class="text-optimizer">
                                El pallet carga 48 cajas, <%=48-(oldData.plus50CJ % 48)%> más para completar pallet
                            </div>
                            <% } else { %>
                            <div class="text-optimizer">
                                El piso carga 12 cajas, <%=12-(oldData.plus50CJ % 12)%> más para completar piso <br>
                                El pallet carga 48 cajas, <%=48-(oldData.plus50CJ % 48)%> más para completar pallet
                            </div>
                            <% } %>
                            <% } %>
                        </div>
                        <!--PLUS 50 BALDE-->
                        <div class="product">
                            <label for='plus50BD' class="label"><%= products[1].JDcode %> -
                                <%= products[1].pack %></label>
                            <input type="number" name='plus50BD' id='plus50BD'
                                class="form-control<%= locals.errors && errors.plus50BD ? '-is-invalid' : null %> "
                                value="<%= oldData.plus50BD ? oldData.plus50BD : 0 %>" style="font-size:1em;">

                            <% if (locals.errors && errors.plus50BD) { %>
                            <div class="text-danger">
                                <%= errors.plus50BD.msg %>
                            </div>
                            <% } %>

                            <% if (oldData && oldData.plus50BD && !errors.plus50BD && (oldData.plus50BD != 0)) { %>

                            <% if ( (oldData.plus50BD % 48) == 0 ) { %>
                            <div class="text-ok">
                                ¡Optimizado! Pallet completo x<%=oldData.plus50BD/48%>
                            </div>
                            <% } else if (  ((oldData.plus50BD % 16) == 0)  ){ %>
                            <div class="text-ok">
                                ¡Piso completo! x<%=oldData.plus50BD/16%>
                            </div>
                            <div class="text-optimizer">
                                El pallet carga 48 baldes, <%=48-(oldData.plus50BD % 48)%> más para completar pallet
                            </div>
                            <% } else { %>
                            <div class="text-optimizer">
                                El piso carga 16 baldes, <%=16-(oldData.plus50BD % 16)%> más para completar piso <br>
                                El pallet carga 48 baldes, <%=48-(oldData.plus50BD % 48)%> más para completar pallet
                            </div>
                            <% } %>
                            <% } %>
                        </div>
                        <!--PLUS 50 TAMBOR-->
                        <div class="product">
                            <label for='plus50TB' class="label"><%= products[2].JDcode %> -
                                <%= products[2].pack %></label>
                            <input type="number" name='plus50TB' id='plus50TB'
                                class="form-control<%= locals.errors && errors.plus50TB ? '-is-invalid' : null %> "
                                value="<%= oldData.plus50TB ? oldData.plus50TB : 0 %>" style="font-size:1em;">

                            <% if (locals.errors && errors.plus50TB) { %>
                            <div class="text-danger">
                                <%= errors.plus50TB.msg %>
                            </div>
                            <% } %>

                            <% if (oldData && oldData.plus50TB && !errors.plus50TB && (oldData.plus50TB != 0)) { %>

                            <% if ( (oldData.plus50TB % 4) == 0 ) { %>
                            <div class="text-ok">
                                ¡Optimizado! Pallet completo x<%=oldData.plus50TB/4%>
                            </div>
                            <% } else { %>
                            <div class="text-optimizer">
                                El pallet carga 4 tambores, <%=4-(oldData.plus50TB % 4)%> más para completarlo.
                            </div>
                            <% } %>
                            <% } %>
                        </div>
                    </div>

                    <div class="productFamily">
                        <h3>HY-GARD</h3>

                        <!--HY-GARD CAJA-->
                        <div class="product">
                            <label for='hygardCJ' class="label"><%= products[3].JDcode %> -
                                <%= products[3].pack %></label><br>
                            <input type="number" name='hygardCJ' id='hygardCJ'
                                class="form-control<%= locals.errors && errors.hygardCJ ? '-is-invalid' : null %> "
                                value="<%= oldData.hygardCJ ? oldData.hygardCJ : 0 %>" style="font-size:1em;">

                            <% if (locals.errors && errors.hygardCJ) { %>
                            <div class="text-danger">
                                <%= errors.hygardCJ.msg %>
                            </div>
                            <% } %>

                            <% if (oldData && oldData.hygardCJ && !errors.hygardCJ && (oldData.hygardCJ != 0)) { %>

                            <% if ( (oldData.hygardCJ % 48) == 0 ) { %>
                            <div class="text-ok">
                                ¡Optimizado! Pallet completo x<%=oldData.hygardCJ/48%>
                            </div>
                            <% } else if (  ((oldData.hygardCJ % 12) == 0)  ){ %>
                            <div class="text-ok">
                                ¡Piso completo! x<%=oldData.hygardCJ/16%>
                            </div>
                            <div class="text-optimizer">
                                El pallet carga 48 cajas, <%=48-(oldData.hygardCJ % 48)%> más para completar pallet
                            </div>
                            <% } else { %>
                            <div class="text-optimizer">
                                El piso carga 12 cajas, <%=12-(oldData.hygardCJ % 12)%> más para completar piso <br>
                                El pallet carga 48 cajas, <%=48-(oldData.hygardCJ % 48)%> más para completar pallet
                            </div>
                            <% } %>
                            <% } %>
                        </div>
                        <!--HY-GARD BALDE-->
                        <div class="product">
                            <label for='hygardBD' class="label"><%= products[4].JDcode %> -
                                <%= products[4].pack %></label><br>
                            <input type="number" name='hygardBD' id='hygardBD'
                                class="form-control<%= locals.errors && errors.hygardBD ? '-is-invalid' : null %> "
                                value="<%= oldData.hygardBD ? oldData.hygardBD : 0 %>" style="font-size:1em;">

                            <% if (locals.errors && errors.hygardBD) { %>
                            <div class="text-danger">
                                <%= errors.hygardBD.msg %>
                            </div>
                            <% } %>


                            <% if (oldData && oldData.hygardBD && !errors.hygardBD && (oldData.hygardBD != 0)) { %>

                            <% if ( (oldData.hygardBD % 48) == 0 ) { %>
                            <div class="text-ok">
                                ¡Optimizado! Pallet completo x<%=oldData.hygardBD/48%>
                            </div>
                            <% } else if (  ((oldData.hygardBD % 16) == 0)  ){ %>
                            <div class="text-ok">
                                ¡Piso completo! x<%=oldData.hygardBD/16%>
                            </div>
                            <div class="text-optimizer">
                                El pallet carga 48 baldes, <%=48-(oldData.hygardBD % 48)%> más para completar pallet
                            </div>
                            <% } else { %>
                            <div class="text-optimizer">
                                El piso carga 16 baldes, <%=16-(oldData.hygardBD % 16)%> más para completar piso <br>
                                El pallet carga 48 baldes, <%=48-(oldData.hygardBD % 48)%> más para completar pallet
                            </div>
                            <% } %>
                            <% } %>
                        </div>
                        <!--HY-GARD TAMBOR-->
                        <div class="product">
                            <label for='hygardTB' class="label"><%= products[5].JDcode %> -
                                <%= products[5].pack %></label><br>
                            <input type="number" name='hygardTB' id='hygardTB'
                                class="form-control<%= locals.errors && errors.hygardTB ? '-is-invalid' : null %> "
                                value="<%= oldData.hygardTB ? oldData.hygardTB : 0 %>" style="font-size:1em;">

                            <% if (locals.errors && errors.hygardTB) { %>
                            <div class="text-danger">
                                <%= errors.hygardTB.msg %>
                            </div>
                            <% } %>

                            <% if (oldData && oldData.hygardTB && !errors.hygardTB && (oldData.hygardTB != 0)) { %>

                            <% if ( (oldData.hygardTB % 4) == 0 ) { %>
                            <div class="text-ok">
                                ¡Optimizado! Pallet completo x<%=oldData.hygardTB/4%>
                            </div>
                            <% } else { %>
                            <div class="text-optimizer">
                                El pallet carga 4 tambores, <%=4-(oldData.hygardTB ? (oldData.hygardTB%4) : 0)%> más
                                para completarlo.
                            </div>
                            <% } %>
                            <% } %>
                        </div>
                    </div>

                    <div class="productFamily">
                        <h3>TORQ-GARD</h3>

                        <!--TORQ-GARD BALDE-->
                        <div class="product">
                            <label for='torqgardBD' class="label"><%= products[6].JDcode %> -
                                <%= products[6].pack %></label><br>
                            <input type="number" name='torqgardBD' id='torqgardBD'
                                class="form-control<%= locals.errors && errors.torqgardBD ? '-is-invalid' : null %> "
                                value="<%= oldData.torqgardBD ? oldData.torqgardBD : 0 %>" style="font-size:1em;">

                            <% if (locals.errors && errors.torqgardBD) { %>
                            <div class="text-danger">
                                <%= errors.torqgardBD.msg %>
                            </div>
                            <% } %>


                            <% if (oldData && oldData.torqgardBD && !errors.torqgardBD && (oldData.torqgardBD != 0)) { %>

                            <% if ( (oldData.torqgardBD % 48) == 0 ) { %>
                            <div class="text-ok">
                                ¡Optimizado! Pallet completo x<%=oldData.torqgardBD/48%>
                            </div>
                            <% } else if (  ((oldData.torqgardBD % 16) == 0)  ){ %>
                            <div class="text-ok">
                                ¡Piso completo! x<%=oldData.torqgardBD/16%>
                            </div>
                            <div class="text-optimizer">
                                El pallet carga 48 baldes, <%=48-(oldData.torqgardBD % 48)%> más para completar pallet
                            </div>
                            <% } else { %>
                            <div class="text-optimizer">
                                El piso carga 16 baldes, <%=16-(oldData.torqgardBD % 16)%> más para completar piso <br>
                                El pallet carga 48 baldes, <%=48-(oldData.torqgardBD % 48)%> más para completar pallet
                            </div>
                            <% } %>
                            <% } %>
                        </div>
                        <!--TORQ-GARD TAMBOR-->
                        <div class="product">
                            <label for='torqgardTB' class="label"><%= products[7].JDcode %> -
                                <%= products[7].pack %></label><br>
                            <input type="number" name='torqgardTB' id='torqgardTB'
                                class="form-control<%= locals.errors && errors.torqgardTB ? '-is-invalid' : null %> "
                                value="<%= oldData.torqgardTB ? oldData.torqgardTB : 0 %>" style="font-size:1em;">

                            <% if (locals.errors && errors.torqgardTB) { %>
                            <div class="text-danger">
                                <%= errors.torqgardTB.msg %>
                            </div>
                            <% } %>

                            <% if (oldData && oldData.torqgardTB && !errors.torqgardTB && (oldData.torqgardTB != 0)) { %>

                            <% if ( (oldData.torqgardTB % 4) == 0 ) { %>
                            <div class="text-ok">
                                ¡Optimizado! Pallet completo x<%=oldData.torqgardTB/4%>
                            </div>
                            <% } else { %>
                            <div class="text-optimizer">
                                El pallet carga 4 tambores, <%=4-(oldData.torqgardTB ? (oldData.torqgardTB%4) : 0)%> más
                                para completarlo.
                            </div>
                            <% } %>
                            <% } %>
                        </div>
                    </div>


                    <div class="productFamily">
                        <h3>BREAK-IN OIL</h3>
                        <!--BREAK-IN OIL-->
                        <div class="product">
                            <label for='breakinBD' class="label"><%= products[12].JDcode %> -
                                <%= products[12].pack %></label><br>
                            <input type="number" name='breakinBD' id='breakinBD'
                                class="form-control<%= locals.errors && errors.breakinBD ? '-is-invalid' : null %> "
                                value="<%= oldData.breakinBD ? oldData.breakinBD : 0 %>" style="font-size:1em;">

                            <% if (locals.errors && errors.breakinBD) { %>
                            <div class="text-danger">
                                <%= errors.breakinBD.msg %>
                            </div>
                            <% } %>


                            <% if (oldData && oldData.breakinBD && !errors.breakinBD && (oldData.breakinBD != 0)) { %>

                            <% if ( (oldData.breakinBD % 48) == 0 ) { %>
                            <div class="text-ok">
                                ¡Optimizado! Pallet completo x<%=oldData.breakinBD/48%>
                            </div>
                            <% } else if (  ((oldData.breakinBD % 16) == 0)  ){ %>
                            <div class="text-ok">
                                ¡Piso completo! x<%=oldData.breakinBD/16%>
                            </div>
                            <div class="text-optimizer">
                                El pallet carga 48 baldes, <%=48-(oldData.breakinBD % 48)%> más para completar pallet
                            </div>
                            <% } else { %>
                            <div class="text-optimizer">
                                El piso carga 16 baldes, <%=16-(oldData.breakinBD % 16)%> más para completar piso
                                <br>
                                El pallet carga 48 baldes, <%=48-(oldData.breakinBD % 48)%> más para completar
                                pallet
                            </div>
                            <% } %>
                            <% } %>
                        </div>
                    </div>
                    <div class="productFamily">
                        <h3>GL-5 80W-90</h3>
                        <!--GL-5 80W-90 CAJA-->
                        <div class="product">
                            <label for='GL590CJ' class="label"><%= products[8].JDcode %> -
                                <%= products[8].pack %></label><br>
                            <input type="number" name='GL590CJ' id='GL590CJ'
                                class="form-control<%= locals.errors && errors.GL590CJ ? '-is-invalid' : null %> "
                                value="<%= oldData.GL590CJ ? oldData.GL590CJ : 0 %>" style="font-size:1em;">

                            <% if (locals.errors && errors.GL590CJ) { %>
                            <div class="text-danger">
                                <%= errors.GL590CJ.msg %>
                            </div>
                            <% } %>


                            <% if (oldData && oldData.GL590CJ && !errors.GL590CJ && (oldData.GL590CJ != 0)) { %>

                            <% if ( (oldData.GL590CJ % 48) == 0 ) { %>
                            <div class="text-ok">
                                ¡Optimizado! Pallet completo x<%=oldData.GL590CJ/48%>
                            </div>
                            <% } else if (  ((oldData.GL590CJ % 12) == 0)  ){ %>
                            <div class="text-ok">
                                ¡Piso completo! x<%=oldData.GL590CJ/12%>
                            </div>
                            <div class="text-optimizer">
                                El pallet carga 48 cajas, <%=48-(oldData.GL590CJ % 48)%> más para completar pallet
                            </div>
                            <% } else { %>
                            <div class="text-optimizer">
                                El piso carga 12 cajas, <%=12-(oldData.GL590CJ % 12)%> más para completar piso <br>
                                El pallet carga 48 cajas, <%=48-(oldData.GL590CJ % 48)%> más para completar pallet
                            </div>
                            <% } %>
                            <% } %>
                        </div>

                        <!--GL-5 80W-90 BALDE-->
                        <div class="product">
                            <label for='GL590BD' class="label"><%= products[9].JDcode %> -
                                <%= products[9].pack %></label><br>
                            <input type="number" name='GL590BD' id='GL590BD'
                                class="form-control<%= locals.errors && errors.GL590BD ? '-is-invalid' : null %> "
                                value="<%= oldData.GL590BD ? oldData.GL590BD : 0 %>" style="font-size:1em;">

                            <% if (locals.errors && errors.GL590BD) { %>
                            <div class="text-danger">
                                <%= errors.GL590BD.msg %>
                            </div>
                            <% } %>


                            <% if (oldData && oldData.GL590BD && !errors.GL590BD && (oldData.GL590BD != 0)) { %>

                            <% if ( (oldData.GL590BD % 48) == 0 ) { %>
                            <div class="text-ok">
                                ¡Optimizado! Pallet completo x<%=oldData.GL590BD/48%>
                            </div>
                            <% } else if (  ((oldData.GL590BD % 16) == 0)  ){ %>
                            <div class="text-ok">
                                ¡Piso completo! x<%=oldData.GL590BD/16%>
                            </div>
                            <div class="text-optimizer">
                                El pallet carga 48 baldes, <%=48-(oldData.GL590BD % 48)%> más para completar pallet
                            </div>
                            <% } else { %>
                            <div class="text-optimizer">
                                El piso carga 16 baldes, <%=16-(oldData.GL590BD % 16)%> más para completar piso <br>
                                El pallet carga 48 baldes, <%=48-(oldData.GL590BD % 48)%> más para completar pallet
                            </div>
                            <% } %>
                            <% } %>
                        </div>
                    </div>

                    <div class="productFamily">
                        <h3>GL-5 85W-140</h3>

                        <!--GL-5 85W-140 CAJA-->
                        <div class="product">
                            <label for='GL5140CJ' class="label"><%= products[10].JDcode %> -
                                <%= products[10].pack %></label><br>
                            <input type="number" name='GL5140CJ' id='GL5140CJ'
                                class="form-control<%= locals.errors && errors.GL5140CJ ? '-is-invalid' : null %> "
                                value="<%= oldData.GL5140CJ ? oldData.GL5140CJ : 0 %>" style="font-size:1em;">

                            <% if (locals.errors && errors.GL5140CJ) { %>
                            <div class="text-danger">
                                <%= errors.GL5140CJ.msg %>
                            </div>
                            <% } %>


                            <% if (oldData && oldData.GL5140CJ && !errors.GL5140CJ && (oldData.GL5140CJ != 0)) { %>

                            <% if ( (oldData.GL5140CJ % 48) == 0 ) { %>
                            <div class="text-ok">
                                ¡Optimizado! Pallet completo x<%=oldData.GL5140CJ/48%>
                            </div>
                            <% } else if (  ((oldData.GL5140CJ % 12) == 0)  ){ %>
                            <div class="text-ok">
                                ¡Piso completo! x<%=oldData.GL5140CJ/12%>
                            </div>
                            <div class="text-optimizer">
                                El pallet carga 48 cajas, <%=48-(oldData.GL5140CJ % 48)%> más para completar pallet
                            </div>
                            <% } else { %>
                            <div class="text-optimizer">
                                El piso carga 12 cajas, <%=12-(oldData.GL5140CJ % 12)%> más para completar piso <br>
                                El pallet carga 48 cajas, <%=48-(oldData.GL5140CJ % 48)%> más para completar pallet
                            </div>
                            <% } %>
                            <% } %>
                        </div>

                        <!--GL-5 85W-140 BALDE-->
                        <div class="product">
                            <label for='GL5140BD' class="label"><%= products[11].JDcode %> -
                                <%= products[11].pack %></label><br>
                            <input type="number" name='GL5140BD' id='GL5140BD'
                                class="form-control<%= locals.errors && errors.GL5140BD ? '-is-invalid' : null %> "
                                value="<%= oldData.GL5140BD ? oldData.GL5140BD : 0 %>" style="font-size:1em;">

                            <% if (locals.errors && errors.GL5140BD) { %>
                            <div class="text-danger">
                                <%= errors.GL5140BD.msg %>
                            </div>
                            <% } %>


                            <% if (oldData && oldData.GL5140BD && !errors.GL5140BD && (oldData.GL5140BD != 0)) { %>

                            <% if ( (oldData.GL5140BD % 48) == 0 ) { %>
                            <div class="text-ok">
                                ¡Optimizado! Pallet completo x<%=oldData.GL5140BD/48%>
                            </div>
                            <% } else if (  ((oldData.GL5140BD % 16) == 0)  ){ %>
                            <div class="text-ok">
                                ¡Piso completo! x<%=oldData.GL5140BD/16%>
                            </div>
                            <div class="text-optimizer">
                                El pallet carga 48 baldes, <%=48-(oldData.GL5140BD % 48)%> más para completar pallet
                            </div>
                            <% } else { %>
                            <div class="text-optimizer">
                                El piso carga 16 baldes, <%=16-(oldData.GL5140BD % 16)%> más para completar piso <br>
                                El pallet carga 48 baldes, <%=48-(oldData.GL5140BD % 48)%> más para completar pallet
                            </div>
                            <% } %>
                            <% } %>
                        </div>
                    </div>

                    <div class="productFamily">
                        <h3>GRASA MULTIUSO DE LITIO</h3>
                        <!--GRASA MULTIUSO DE LITIO-->
                        <div class="product">
                            <label for='litioBD' class="label"><%= products[13].JDcode %> -
                                <%= products[13].pack %></label><br>
                            <input type="number" name='litioBD' id='litioBD'
                                class="form-control<%= locals.errors && errors.litioBD ? '-is-invalid' : null %> "
                                value="<%= oldData.litioBD ? oldData.litioBD : 0 %>" style="font-size:1em;">

                            <% if (locals.errors && errors.litioBD) { %>
                            <div class="text-danger">
                                <%= errors.litioBD.msg %>
                            </div>
                            <% } %>


                            <% if (oldData && oldData.litioBD && !errors.litioBD && (oldData.litioBD != 0)) { %>

                            <% if ( (oldData.litioBD % 48) == 0 ) { %>
                            <div class="text-ok">
                                ¡Optimizado! Pallet completo x<%=oldData.litioBD/48%>
                            </div>
                            <% } else if (  ((oldData.litioBD % 16) == 0)  ){ %>
                            <div class="text-ok">
                                ¡Piso completo! x<%=oldData.litioBD/16%>
                            </div>
                            <div class="text-optimizer">
                                El pallet carga 48 baldes, <%=48-(oldData.litioBD % 48)%> más para completar pallet
                            </div>
                            <% } else { %>
                            <div class="text-optimizer">
                                El piso carga 16 baldes, <%=16-(oldData.litioBD % 16)%> más para completar piso <br>
                                El pallet carga 48 baldes, <%=48-(oldData.litioBD % 48)%> más para completar pallet
                            </div>
                            <% } %>
                            <% } %>
                        </div>
                    </div>

                    <div class="productFamily">
                        <h3>GRASA COTTON-PICKER</h3>
                        <!--GRASA COTTON-PICKER-->
                        <div class="product">
                            <label for='cottonTB' class="label"><%= products[7].JDcode %> -
                                <%= products[7].pack %></label><br>
                            <input type="number" name='cottonTB' id='cottonTB'
                                class="form-control<%= locals.errors && errors.cottonTB ? '-is-invalid' : null %> "
                                value="<%= oldData.cottonTB ? oldData.cottonTB : 0 %>" style="font-size:1em;">

                            <% if (locals.errors && errors.cottonTB) { %>
                            <div class="text-danger">
                                <%= errors.cottonTB.msg %>
                            </div>
                            <% } %>

                            <% if (oldData && oldData.cottonTB && !errors.cottonTB && (oldData.cottonTB != 0)) { %>

                            <% if ( (oldData.cottonTB % 4) == 0 ) { %>
                            <div class="text-ok">
                                ¡Optimizado! Pallet completo x<%=oldData.cottonTB/4%>
                            </div>
                            <% } else { %>
                            <div class="text-optimizer">
                                El pallet carga 4 tambores, <%=4-(oldData.cottonTB ? (oldData.cottonTB%4) : 0)%> más
                                para completarlo.
                            </div>
                            <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <br>
                <button type="submit" class="button">MODIFICAR</button>
            </form>
        </div>
    </section>


</body>

</html>